.select-box {
  display: flex;
  column-gap: 20px;
    & .select-result {
      display: flex;
      align-items: center;
    }
    & .select-btn {
      border-width: 0;
      background-color: transparent;
      transform: rotate(180deg);
      &.isOpen {
        transform: rotate(0deg);
      }
    }
    & .select-modal {
      background-color: aliceblue;
      padding: 30px;
      position: absolute;
      z-index: 2;
      top: 60%;
      right: 50%;
      transform: translate(50%, -50%);
      min-width: 500px;
      border-radius: 15px;
      @media screen and (max-width: 767px) {
        top: 50%;
      }
      @media screen and (max-width: 500px) {
        top: 54%;
        min-width: 290px;
      }
      & .select-modal__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        & .select-modal__item {
          border-bottom: 1px solid rgb(211, 193, 193);
          cursor: pointer;
        }
          .select-modal__item:hover {
            background-color: rgba(173, 184, 184, 0.671);
          }
      }
    }
}