.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  transform: translate3d(0, 0, 0);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  max-height: 100dvh;
  background: rgba($back-accent-on-light, 0.6);
  backdrop-filter: blur(12px);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all $transition-fast;
  &.is--active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    .modal {
      &__wrap {
        transform: scale(1) translate(0, 0);
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    &--wide {
      background: $root-accent-on-light-shift-up;
      backdrop-filter: none;
      .modal {
        &__wrap {
          margin: 100px auto;
          padding: 0;
          min-height: calc(100dvh - 200px);
        }
        &__left {
          position: absolute;
          top: -100px;
          right: 0;
          bottom: 0;
          left: 0;
          justify-content: flex-start;
          margin-right: 0;
          padding: 30px 32px;
          max-width: none;
          min-width: auto;
          height: 100dvh;
          background: transparent;
          border-radius: 0;
        }
        &__right {
          max-width: none;
        }
        &__close-btn {
          &--mobile {
            display: block;
          }
          &--desktop {
            display: none;
          }
        }
        &__content {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    background: $root-accent-on-light-shift-up;
    backdrop-filter: none;
    &--wide {
      .modal {
        &__wrap {
          display: block;
          margin: 100px 0 0;
          min-height: calc(100dvh - 100px);
          max-height: calc(100dvh - 100px);
        }
        &__wrapper {
          @media screen and (max-width: 767px) {
            min-height: calc(100dvh - 100px);
          }
        }
        &__left {
          top: -100px;
        }
        &__right {
          display: block;
          margin-top: auto;
          min-height: 70dvh;
          border-radius: 32px 32px 0 0;
        }
      }
    }
  }

  &__wrap {
    position: relative;
    z-index: 2;
    transform: scale(0.9) translate(0, 10%);
    transform-origin: center top;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 0 20px;
    min-height: calc(100dvh - 40px);
    max-width: 838px;
    width: 100%;
    opacity: 0;
    transition: all $transition-fast;

    @media screen and (max-width: 767px) {
      margin: 0;
      padding: 0;
      max-width: none;
      max-height: 100dvh;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 600px;
    // min-height: 75dvh;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      min-height: 65dvh;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      min-height: auto;
    }
  }
  &__left {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: -16px;
    padding: 56px 50px;
    max-width: 289px;
    min-width: 289px;
    background: $root-accent-on-light-shift-up;
    border-radius: 32px;
    &--red {
      background: $root-complement-2-shift-up;
      .modal {
        &__circle {
          background: $root-complement-2-on-light;
        }
      }
    }
    &--orange {
      background: $root-complement-on-light-shift-up;
      .modal {
        &__circle {
          background: $root-complement-on-light;
        }
      }
    }
    &--bg {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        min-height: 500px;
        width: 500px;
        height: 500px;
        background-image: url(/img/pattern-dot-ball.svg);
        background-repeat: repeat-x;
        background-size: contain;
        background-position: center center;
      }
    }

    @media screen and (max-width: 767px) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      justify-content: flex-start;
      margin-right: 0;
      padding: 30px 24px;
      max-width: none;
      min-width: auto;
      height: 100dvh;
      border-radius: 0;
      &--bg {
        &::before {
          min-height: 90dvh;
          width: 145vw;
          height: 90dvh;
        }
      }
    }
  }
  &__right {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 16px;
    max-width: calc(100% - 273px);
    width: 100%;
    background: $white-color;
    border-radius: 32px;
    &--center {
      justify-content: center;
    }

    @media screen and (max-width: 767px) {
      max-width: none;
    }
  }
  &__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-width: 60px;
    width: 60px;
    height: 60px;
    background: $root-base-on-dark;
    border: none;
    border-radius: 50%;
    transition: all $transition-default;
    & svg {
      min-width: 26px;
      width: 26px;
      height: 26px;
      color: $root-base-on-light;
    }
    &:focus {
      outline: none;
    }

    @media screen and (hover: hover) {
      &:hover {
        & svg {
          color: $icon-accent-on-light;
        }
      }
    }
    @media screen and (min-width: 768px) {
      &--mobile {
        display: none;
      }
    }
    @media screen and (max-width: 767px) {
      &--desktop {
        display: none;
      }
    }
  }
  &__circle {
    position: absolute;
    z-index: 1;
    display: block;
    background: $root-base-on-light;
    border-radius: 50%;
    &--sm {
      top: 40%;
      left: -35px;
      transform: translate(0, -50%);
      width: 69px;
      height: 69px;
    }
    &--md {
      top: -73px;
      left: -28px;
      width: 184px;
      height: 184px;
    }
    &--lg {
      top: 47px;
      right: -144px;
      width: 241px;
      height: 241px;
    }
    &--xl {
      bottom: -36px;
      left: -115px;
      width: 271px;
      height: 271px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      &--sm {
        top: 20%;
        left: 60%;
        transform: translate(-50%, -50%);
      }
      &--lg {
        top: -117px;
        right: -90px;
      }
      &--xl {
        left: 90px;
        bottom: 20px;
      }
    }
    @media screen and (max-width: 767px) {
      &--sm {
        top: -30px;
        left: 55%;
        transform: translate(-50%, 0);
      }
      &--md {
        left: -70px;
      }
      &--lg {
        top: -47px;
        right: -72px;
        width: 161px;
        height: 161px;
      }
      &--xl {
        top: 200px;
        left: 70%;
        bottom: auto;
        transform: translate(-50%, 0);
        width: 200px;
        height: 200px;
      }
    }
  }
  &__logotype {
    display: block;
    // width: 172px;
    // // width: 100%;
    // // position: relative;
    img {
      display: block;
      width: 172px;
      height: 32px;
      object-fit: contain;
    }
  }
  &__content {
    padding: 0 40px;
    max-width: 457px;
    width: 100%;

    @media screen and (max-width: 767px) {
      padding: 0;
      max-width: none;
    }
  }
  &__body {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    .modal {
      &__description {
        margin-right: auto;
        margin-left: auto;
        max-width: 264px;
        width: 100%;
      }
    }

    @media screen and (max-width: 767px) {
      padding: 57px 0;
    }
  }
  &__back {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 0;
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
    // line-height: 1.28571;
    color: $text-faint-on-light;
    background: transparent;
    border: none;
    border-radius: 0;
    transition: all $transition-default;
    & > svg {
      min-width: 16px;
      width: 16px;
      height: 16px;
      color: $icon-base-on-light-shift-up;
    }
    & > * + * {
      margin-left: 8px;
    }
    &:hover {
      color: $text-faint-on-light;
    }

    @media screen and (hover: hover) {
      &:hover {
        color: $text-accent-on-light-shift-up;
        & > svg {
          color: $icon-accent-on-light-shift-up;
        }
      }
    }
  }
  &__heading {
    font-size: 40px;
    font-weight: 600;
    line-height: 1;

    @media screen and (max-width: 767px) {
      font-size: 32px;
    }
  }
  &__description {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    color: $text-faint-on-light;
  }
  &__icon-status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;
    min-width: 120px;
    width: 120px;
    height: 120px;
    background: rgba(#34a853, 0.05);
    border-radius: 50%;
    & > svg {
      min-width: 100px;
      width: 100px;
      height: 100px;
      color: $icon-success-on-light-shift-down;
    }

    @media screen and (max-width: 767px) {
      margin: 32px auto 0;
    }
  }
  &__form {
    margin-top: 32px;
  }
}

.modal-form {
  &__input {
    width: 100%;
  }
  &__input + &__input {
    margin-top: 24px;
  }
  &__btn {
    margin-top: 24px;
    width: 100%;
    &--indent-lg {
      margin-top: 56px;
    }
  }
  &__links {
    margin-top: 16px;
  }
  &__link {
    display: block;
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
    color: $root-accent-on-light;
    cursor: pointer;
    &:hover {
      color: $root-accent-on-light;
    }
    &--red {
      color: $root-critic-on-light;
      &:hover {
        color: $root-critic-on-light;
      }
    }
  }
  &__link + &__link {
    margin-top: 8px;
  }
  &__help {
    display: block;
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
    color: $root-base-on-light-shift-down;
    span {
      color: $root-accent-on-light;
      cursor: pointer;
      &:hover {
        color: $root-accent-on-light;
      }
    }
  }
  &__resource {
    margin-top: 24px;
  }
}

.editor__content {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 35px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .editor-error {
    color: $root-complement-2-on-light-shift-down;
  }

  .codex-editor__redactor {
    padding-bottom: 0 !important;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;

    & .modal-header__config {
      display: flex;
      column-gap: 2px;

      & button {
        background-color: transparent;
        border: 0;
        padding: 0;
      }
    }

    h5 {
      font-size: 16px;
      font-weight: 600;
    }

    .modal-header__title--mobile {
      display: none;
      align-items: center;
      gap: 6px;
      cursor: pointer;
    }

    .modal-header__buttons {
      display: none;
    }

    @media (max-width: 768px) {
      align-items: flex-start;

      .modal-header__title {
        display: none;
      }
      .modal-header__title--mobile {
        display: flex;
      }
      .modal-header__buttons {
        display: flex;
      }

      .modal-header__config {
        display: none;
      }

      .buttons {
        flex-direction: column;
        align-items: flex-end;
        gap: 6px;
        .button {
          width: auto;
          height: 36px;
          padding: 0 8px;
        }
      }
    }
  }

  .editor-scroll {
    height: 400px;
    max-height: 50vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;

    .editor-input {
      width: 100%;
      border: none;
      outline: none;
      color: $root-base-on-light;

      &::-moz-placeholder {
        color: $root-faint-on-light-shift-up;
      }

      &::-webkit-input-placeholder {
        color: $root-faint-on-light-shift-up;
      }

      &__title {
        font-size: 36px;
        font-weight: 600;
      }

      &__preview {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 24px;
      }
    }

    .editor-photo {
      margin: 24px 0;

      &__preview {
        width: 100%;
      }
      &__buttons {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 12px;

        label {
          border-radius: 40px;
          padding: 10px 16px;
          font-size: 14px;
          cursor: pointer;
        }
        .upload-photo-label {
          background-color: #3b68d9;
          color: #fff;

          &:hover {
            background-color: #3b68d9d1;
          }
        }

        .delete-photo-label {
          background-color: $root-complement-2-on-light;
          color: #fff;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .editor-source {
      margin: 24px 0;

      &__title {
        font-size: 24px;
        margin-bottom: 24px;
      }

      img {
        width: 36px;
        height: 36px;
        object-fit: cover;
      }

      &__description {
        display: flex;
        gap: 12px;
      }
    }

    /* Стилизация вертикального скроллбара */
    &::-webkit-scrollbar {
      width: 6px; /* Ширина скроллбара */
    }
    &::-webkit-scrollbar-thumb {
      background-color: #888; /* Цвет ползунка скроллбара */
    }
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* Цвет фона скроллбара */
    }

    .ce-block__content {
      max-width: 83%;
    }
    .ce-toolbar__content {
      max-width: 84%;
    }
    .ce-header {
      padding: 0;
    }
  }

  .buttons {
    display: flex;
    column-gap: 16px;

    .button {
      height: 52px;
      border-radius: 40px;
      border-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    & .button_moderation {
      width: 294px;
      background-color: #3b68d9;
      color: #fff;
    }
    & .button_view {
      width: 169px;
      background-color: #ececec;
      color: #313131;
      font-weight: 500;

      & svg {
        color: #525252;
      }
    }
  }

  .editor__content-bottom {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.modal.is--active .frame-btn_active {
  margin: 0;
  padding: 0;
  max-width: none;
  .modal {
    &__wrap {
      margin: 0;
      max-width: none;
    }
    &__wrapper {
      width: 100vw;
      height: 100vh;
      top: 0;
    }
  }
  .editor__content {
    border-radius: 0;

    .editor-scroll {
      height: 100%;
      max-height: none;
    }
  }
}
@media (max-width: 768px) {
  .modal.modal__editor {
    height: 100vh;
    overflow: hidden;
    .modal__wrap {
      max-height: 100vh;
      min-height: 100vh;
      margin: 0;
      padding: 0;
      max-width: none;
      .modal {
        &__wrap {
          margin: 0;
          max-width: none;
        }
        &__wrapper {
          width: 100vw;
          height: 100vh;
          top: 0;
        }
      }
      .editor__content {
        border-radius: 0;

        .editor-scroll {
          height: 100%;
          max-height: none;
        }

        .editor-title__input {
          font-size: 28px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .modal.modal__editor {
    overflow: hidden;
  }
}
