// variables
$primary-font-family: "Inter", sans-serif; // body font-family
$secondary-font-family: "Russo One", sans-serif;
$primary-font-size: 16px; // body font-size
$primary-line-height: 1.25; // body line-height

$black-color: #000000;
$white-color: #ffffff;

$root-base-on-light: #313131;
$root-base-on-light-shift-up: #4d4c4c;
$root-base-on-light-shift-down: #202020;
$root-base-on-dark: #f5f5f5;
$root-base-on-dark-shift-up: #ffffff;
$root-base-on-dark-shift-down: #ececec;

$root-faint-on-light: #959598;
$root-faint-on-light-shift-up: #adadb0;
$root-faint-on-light-shift-down: #7d7f83;
$root-faint-on-dark: #f0f0f0;
$root-faint-on-dark-shift-down: #e6e7e9;
$root-faint-on-dark-shift-up: #d0d2d4;

$root-accent-on-light: #6890f2;
$root-accent-on-light-shift-up: #9bb8ff;
$root-accent-on-light-shift-down: #3b68d9;
$root-accent-on-dark-shift-up: #5d8def;

$root-complement-on-dark-shift-up: #d4d3ff;
$root-complement-on-light: #ff8b59;
$root-complement-on-light-shift-up: #ffdecc;
$root-complement-on-light-shift-down: #e27241;
$root-complement-2-on-light: #fe687a;
$root-complement-2-shift-up: #f8e3e3;
$root-complement-2-on-light-shift-down: #f24a5e;

$root-critic-on-light: #fe687a;

$back-base-on-light: #eeeeee;
$back-accent-on-light: #262321;
$back-complement-on-dark: #6d60d5;
$back-complement-2-on-light-shift-down: #262321;
$back-accent-on-light-blue: #336eff;
$fancy-complement-on-dark: linear-gradient(180deg, #9389e0 0%, #5247a9 100%);
$fancy-complement-on-dark-shift-down: linear-gradient(
  180deg,
  #847aca 0%,
  #3a3278 100%
);
$fancy-accent: linear-gradient(
  130deg,
  #747ce0 0%,
  #4649a6 46.88%,
  #4546a0 53.65%,
  #3e2e75 100%
);
$fancy-complement-on-light: linear-gradient(
  66deg,
  #fa8633 24.12%,
  #e8712b 79.86%
);
$fancy-ai: linear-gradient(
  0deg,
  #e56d29 18.38%,
  rgba(229, 109, 41, 0.91) 37.75%,
  rgba(229, 109, 41, 0) 100%
);

$text-faint-on-light: #8f9093;
$text-faint-on-light-shift-up: #bababa;
$text-faint-on-light-shift-down: #848488;

$text-base-on-light: #313131;
$text-base-on-light-shift-down: #1b1e24;
$text-base-on-light-shift-up: #585a5e;
$text-base-on-dark: #fafafd;
$text-base-on-dark-shift-up: #fbfbfd;

$text-accent-on-light: #2b5cd6;
$text-accent-on-light-shift-up: #477cff;
$text-accent-on-light-shift-down: #244db3;
$text-accent-on-dark-shift-up: #6a96ee;

$text-complement-on-light-shift-up: #fd8653;
$text-complement-on-dark: #8a7fdc;
$text-complement-on-light: #d46636;

$text-critic-on-light: #d55766;

$icon-base-on-light: #525252;
$icon-base-on-light-shift-up: #9e9e9e;
$icon-base-on-light-shift-down: #14171b;
$icon-base-on-dark: #fbfbfd;
$icon-base-on-dark-shift-up: #fdfdfe;
$icon-base-on-dark-shift-down: #eceef1;

$icon-faint-on-light: #898989;
$icon-faint-on-light-shift-up: #cacaca;
$icon-faint-on-light-shift-down: #7a7b7d;

$icon-accent-on-light: #396ef0;
$icon-accent-on-light-shift-up: #5184ff;
$icon-accent-on-light-shift-down: #2a52b5;
$icon-critic-on-dark-shift-up: #e4426a;
$icon-critic-on-dark-shift-down: #af052f;

$icon-complement-on-light: #f37c49;
$icon-complement-on-light-shift-down: #cc6c42;
$icon-complement-on-dark-shift-up: #8a7ee2;

$line-base-on-light: #06080b;
$line-base-on-light-shift-up: #939495;
$line-base-on-light-shift-down: #010102;
$line-base-on-dark-shift-down: #f0f0f1;
$line-base-on-dark: #fbfbfc;
$line-faint-on-light: #bfc0c3;
$line-faint-on-light-shift-up: #e4e5e8;
$line-faint-on-light-shift-down: #d8d8d8;
$line-accent-on-light: #336eff;
$line-accent-on-light-shift-up: #7099ff;
$line-complement-on-light-shift-up: #fea179;

$container-width: 1384px;
$container-padding: 20px;
$container-mobile-padding: 16px;

$transition-default: 0.25s ease-in-out;
$transition-fast: 0.15s ease;

// common document styles
body {
  position: relative;
  overflow-x: hidden;
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  color: $root-base-on-light;
  background: $root-base-on-dark;
}

ul,
ol,
li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  line-height: $primary-line-height;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  color: $root-base-on-light;
  text-decoration: none;
  transition: all $transition-default;
  &:hover {
    text-decoration: none;
    color: $root-base-on-light;
  }
  &:active {
    color: $root-base-on-light;
    transition: all $transition-fast;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
    appearance: none;
    margin: 0;
  }
}

picture {
  display: block;
}

img {
  max-width: 100%;
}

svg {
  transition: all $transition-default;
}

.container {
  margin: 0 auto;
  padding: 0 $container-padding;
  max-width: $container-width;
  width: 100%;

  @media screen and (max-width: 767px) {
    padding: 0 $container-mobile-padding;
  }
}

.scroll-disabled {
  overflow: hidden;
}
